@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(248, 170, 139, 0.658);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: tomato;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #04049ce3;
}

p {
    text-align: justify;
}
